<ion-row>
  <ion-col col-12 class="center">
    <ion-buttons>
      <div *ngIf="locationService.routeFinished == false">
        <button *ngIf="!isCycling" color="primary" ion-button (click)="startStopCycling()">Start</button>
        <button *ngIf="!isPaused && isCycling" color="primary" ion-button (click)="pauseResumeCycling()">Pauzeer</button>
        <button *ngIf="isPaused && isCycling" color="primary" ion-button (click)="pauseResumeCycling()">Resume</button>
        <button *ngIf="isCycling" color="primary" ion-button (click)="startStopCycling()">Stop</button>
      </div>
    </ion-buttons>
  </ion-col>
</ion-row>

